.user-form-container {
	width: 100%;
	height: auto;

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.inputs {
			width: 350px;
			height: 350px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
