.footer-container {
	padding: 0 10%;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

@media screen and (max-width: 600px) {
	.footer-container {
		font-size: 10px;
	}
}

.footer-columns {
	display: flex;
	flex-direction: column;
}
