.user-display {
	margin: 20px 0;
	width: 350px;
	display: flex;
	align-items: center;

	h3 {
		margin-right: 15px;
	}
}

.user-display-edit {
	cursor: pointer;
	color: rgb(66, 141, 255);

	&:hover {
		color: rgb(49, 111, 204);
	}
}
